/* Container Utama */
.logout-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding: 0px 20px 0px 10px;
    width: 100%;
    box-sizing: border-box;
}

/* Kotak Logout */
.logout-box {
    background: linear-gradient(135deg, #c1c3c4a6, #c9d6dfa6);
    padding: 30px;
    border-radius: 12px;
    text-align: center;
    max-width: 400px;
    width: 100%;
}

.logout-box h2 {
    font-size: 1.5rem;

    margin-bottom: 20px;
}

.logout-actions {
    display: flex;
    justify-content: space-between;
    gap: 15px;
}

.logout-btn {
    padding: 12px;
    font-size: 1rem;
    text-align: center;
    border-radius: 8px;
    width: 100%;
    text-decoration: none;
    display: block;
    font-weight: bold;
    transition: all 0.3s ease;
}

.logout-btn.confirm {
    background-color: #4caf50;
    color: white;
}

.logout-btn.confirm:hover {
    background-color: #45a049;
}

.logout-btn.cancel {
    background-color: #f44336;
    color: white;
}

.logout-btn.cancel:hover {
    background-color: #e53935;
}

@media (max-width: 500px) {
    .logout-actions {
        flex-direction: column;
        padding: 20px 30px 20px 10px;
    }

    .logout-btn {
        margin-bottom: 10px;
    }

    .logout-btn:last-child {
        margin-bottom: 0;
    }
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Minimum tinggi halaman 100% viewport */
}

/* Konten utama akan mengisi ruang yang tersisa */
.main-content {
    flex: 1; /* Membuat konten utama fleksibel dan mengisi ruang yang tersisa */
}